
<article class="b-article b-payment-successful-article">
	<h1 class="b-article-title">Pages list</h1>
	<div class="b-article-contents">
		<p>General:</p>
		<%- partial("_navigation", {category : "en/primary"}) %>
		<p>Payments:</p>
		<%- partial("_navigation", {category : "en/payment"}) %>
		<p>Authentication:</p>
		<%- partial("_navigation", {category : "en/authorization"}) %>
		<p>Success messages:</p>
		<%- partial("_navigation", {category : "en/success"}) %>
		<p>Error messages:</p>
		<%- partial("_navigation", {category : "en/errors"}) %>
	</div>
</article>

