
<article class="b-article b-payment-successful-article">
	<h1 class="b-article-title">Список страниц</h1>
	<div class="b-article-contents">
		<p>Основные:</p>
		<%- partial("_navigation", {category : "primary"}) %>
		<p>Платежи:</p>
		<%- partial("_navigation", {category : "payment"}) %>
		<p>Авторизация:</p>
		<%- partial("_navigation", {category : "authorization"}) %>
		<p>Сообщения об успехе:</p>
		<%- partial("_navigation", {category : "success"}) %>
		<p>Сообщения об ошибках:</p>
		<%- partial("_navigation", {category : "errors"}) %>
	</div>
</article>

