<article class="b-article b-landing-article">
	<h1 class="b-article-title">Wi-Fi&nbsp;от&nbsp;Мегафон в&nbsp;Сапсане</h1>
	<ul class="b-article-menu">
		<li class="b-article-menu-clause">
			<a href="<%= (environment == "production" ? "./" : "") %>buy-internet-90min<%= (environment == "production" ? ".html" : "") %>" class="b-article-menu-clause-link">
				<dl class="b-article-menu-clause-description">
					<dt class="b-primary-menu-clause-description-title">100</dt>
					<dd class="b-primary-menu-clause-description-contents">руб.</dd>
				</dl>
				<span class="b-article-menu-clause-title">Купить интернет на 90 минут</span>
			</a>
		</li>
		<li class="b-article-menu-clause">
			<a href="<%= (environment == "production" ? "./" : "") %>buy-internet-5h<%= (environment == "production" ? ".html" : "") %>" class="b-article-menu-clause-link">
				<dl class="b-article-menu-clause-description">
					<dt class="b-primary-menu-clause-description-title">300</dt>
					<dd class="b-primary-menu-clause-description-contents">руб.</dd>
				</dl>
				<span class="b-article-menu-clause-title">Купить интернет на всю поездку</span>
			</a>
		</li>
		<li class="b-article-menu-clause">
			<a href="<%= (environment == "production" ? "./" : "") %>scretch-card<%= (environment == "production" ? ".html" : "") %>" class="b-article-menu-clause-link">
				<dl class="b-article-menu-clause-description">
					<dt class="b-primary-menu-clause-description-title">100</dt>
					<dd class="b-primary-menu-clause-description-contents">руб.</dd>
				</dl>
				<span class="b-article-menu-clause-title">Купить интернет на 90 минут</span>
			</a>
		</li>
	</ul>
</article>

